body {
    background-color: #99e2ff ;
}

#trivia {
    background-color: white;
    width: 50%;
    margin: auto;
    text-align: center;
}

button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}